html {
  padding: 0;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

body {
  --bg-color: #020c16;
  --light-red: #e20b19;
  --light-blue: #7091d4;
  --white: #ffffff;
  --teams-map-left-side: #011425;
  --teams-map-right-side: #a40d33;
  --dark-blue: rgb(120, 145, 200);
}

code {
  font-family: Outfit, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Outfit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap");
.App {
  line-height: 1.5;
  tab-size: 4;
}

#light-blue {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#header {
  display: flex;
  height: 65px;
  margin: 10;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1500px;
}

.header_tab {
  font-size: 1.3rem;
  margin-left: 2rem;
  text-decoration: inherit;
  margin-top: 1.5rem;
}

.sponsorus {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: none;
  color: var(--bg-color);
}

.gradient {
  background: #7091d4;
  transition-duration: 0.3s;
  transition-property: transform;
  transition: all 0.3s;
  color: var(--white) !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 0 !important;
  border: 2px solid #7091d4;
}

.gradient:hover {
  background: var(--white);
  color: #7091d4 !important;
  border-radius: 0.5rem;
}

.tabContainerR .header_tab {
  font-size: 1.3rem;
  margin-left: 30px;
  margin-right: 20px;
  text-decoration: inherit;
  color: var(--bg-color);
}
.tabContainerR .header_tab:hover {
  color: #e20b19;
}

.tabContainer .header_tab {
  font-size: 1.3rem;
  margin-left: 30px;
  margin-right: 20px;
  text-decoration: inherit;
  color: var(--bg-color);
}
.tabContainer .header_tab:hover {
  color: #e20b19;
}

.bn29 {
  border: none;
  outline: none;
  color: var(--white);
  text-decoration: inherit;
  font-style: 1.2rem;
  position: relative;
  top: 70px;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 155%;
  height: 155%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.bn29:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}

.tabContainer {
  line-height: 1.2;
  display: flex;
  tab-size: 3;
  align-items: center;
  font-family: "Outfit";
  margin: auto;
  width: 500px;
}

.tabContainerR {
  line-height: 1.2;
  display: flex;
  tab-size: 3;
  align-items: center;
  font-family: "Outfit";
  width: 500px;
  justify-content: right;
}

.logo {
  max-height: 5rem;
  margin: auto;
}

@media only screen and (max-width: 1260px) {
}

#namer {
  width: 75%;
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(255, 255, 255);
}

#nameContainer {
  justify-content: center;
  display: flex;
  position: relative;
  font-family: "Outfit";
}

#maintitle {
  background-color: var(--white);
  text-align: bottom;
  padding: 0;
}

#metu {
  color: var(--bg-color);
  font-size: min(20vw, 10rem);
  display: block;
  margin-top: 22vh;
  margin-bottom: 0;
  align-items: bottom;
  padding: 0;
  line-height: min(14.5vw, 7rem);
  font-family: "Montserrat";
}

@media only screen and (max-width: 1260px) {
  .tabContainer {
    display: none;
  }
  .tabContainerR {
    display: none;
  }
  .sponsorus {
    display: block;
  }

  #metu {
    margin-top: 18vh;
  }
}

#bdays {
  color: #7091d4;
  font-size: min(7vw, 6rem);
  font-family: "Montserrat";
  line-height: min(14vw, 7rem);
}

#blockchain {
  font-size: min(9vw, 8rem);
  position: absolute;
  margin: 0;
  bottom: -2rem;
  line-height: 1;
}

#dateapply {
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(255 255 255);
}

.date {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .date {
    font-size: 1.6rem;
  }
}

.applyButton {
  width: 18rem;
  background-color: #7091d4;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: "Outfit";
  border-width: 0;
  color: rgb(255 255 255);
  cursor: pointer;
  margin: auto;
  height: 90px;
  margin-top: 3rem;
}

.applyButton:hover {
  background-color: #ffffff;
  color: #7091d4;
}

@media only screen and (max-width: 600px) {
  .applyButton {
    width: 14rem;
    font-size: 1.4rem;
    height: 90px;
  }
}

#about {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: var(--bg-color);
  margin-top: 8rem;
}

@media only screen and (max-width: 600px) {
  #about {
    margin-top: 2rem;
    padding-top: 2rem;
  }
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-right: 2rem;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.subheader {
  font-size: min(6.5vw, 3rem);
  margin-left: 0.2rem;
  margin-top: 0;
  color: #7091d4;
}

.aboutexplanation {
  font-size: 1.125rem;
  tab-size: 4;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 100%;
  font-style: italic;
  line-height: 1.5;
  word-spacing: 0.2em;
  letter-spacing: 0.1rem;
}

#schedule {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #7091d4;
  font-family: "Outfit", "sans-serif";
  tab-size: 4;
}

@media only screen and (max-width: 900px) {
  #schedule {
    padding: 1rem;
  }
}

.scheduleSection {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 900px) {
  .scheduleSection {
    flex-direction: column;
    padding: 1rem;
  }
}

.scheduleday {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.scheduleHeader {
  font-size: min(6vw, 3rem);
  color: #7091d4;
}

.dayHeader {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: rgb(255, 255, 255);
  border-bottom-width: 4px;
  margin-bottom: 1.5rem;
  z-index: 5;
  top: 0px;
  position: sticky;
  font-size: 1.8rem;
  font-family: "Outfit", "sans-serif";
  background-color: var(--bg-color);
}

.timer {
  margin-bottom: 2rem;
  font-family: "Outfit", "sans-serif";
  color: rgb(255, 255, 255);
}

.agenda {
  display: flex;
  flex-direction: row;
}

.time {
  width: 7rem;
  font-weight: 600;
  font-size: 1.5rem;
  margin: auto;
  color: #7091d4;
}

.relative {
  padding: 1.5rem;
  background-color: #dce6f2;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.agendaName {
  font-size: 1.5rem;
  font-weight: 600;
  width: 85%;
  margin-bottom: 0.5rem;
  color: #020c16;
}

.agendaExplanation {
  font-size: 1rem;
  width: 85%;
  margin-bottom: 0.5rem;
  color: #020c16;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
  .time {
    width: 6rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
  }

  .agendaName {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
  }

  .agendaExplanation {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }

  .relative {
    padding: 1rem;
  }
}

#speakers {
  margin-top: -2rem;
  padding-left: 1rem;
}

#team {
  margin-top: -2rem;
  padding-left: 1rem;
}

#sponsors {
  margin-top: -2rem;
  padding-left: 1rem;
}

#participating {
  margin-top: -2rem;
  padding-left: 1rem;
}

.speakersDiv {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

.speakersContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media only screen and (max-width: 1380px) {
  .speakersContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1180px) {
  .speakersContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 680px) {
  .speakersContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .speakersDiv {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.singleSpeaker {
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  tab-size: 4;
  margin: 1rem;
  max-width: 280px;
  background-color: #dce6f2;
}

@media only screen and (max-width: 1380px) {
  .singleSpeaker {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .singleSpeaker {
    max-width: 220px;
  }
}

.speakerImg {
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.rd0 {
  border-radius: 0% !important;
}

.enemyImg {
  border-radius: 100%;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.speakerName {
  font-weight: 600;
  font-size: 1.5rem;
  color: #a12500;
}

.speakerCompany {
  font-size: 1.25rem;
  color: #020c16;
}

#sponsors {
  margin-top: -2rem;
  padding-left: 1rem;
}

.sponsorDiv {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "Outfit", "sans-serif";
}

.sponsorContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media only screen and (max-width: 1380px) {
  .sponsorContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1180px) {
  .sponsorContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 680px) {
  .sponsorContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .sponsorDiv {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.singleSponsor {
  padding: 1.5rem;
  background-color: rgba(100, 135, 175, 0.546);
  border-radius: 0.5rem;
  text-decoration: none;
  tab-size: 3;
  margin: 1rem;
  max-width: 280px;
  max-height: 100px;
  position: relative;
}

@media only screen and (max-width: 1380px) {
  .singleSponsor {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .singleSponsor {
    max-width: 220px;
  }
}

.sponsorLogo {
  border-radius: 10rem;
  width: 35%;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.sponsorName {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-left: 7rem;
  margin-top: -5rem;
  position: absolute;
}

.sponsorHeader {
  font-size: min(8vw, 4rem);
}

#footer {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 18rem;
}

.footer_cont {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 2rem;
}

.footer_header {
  font-size: 3.5rem;
  font-weight: 800;
  color: #a12500;
}

.footer_writing {
  margin-top: 0.7rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 900px) {
  #footer {
    margin-top: 8rem;
  }
  .footer_header {
    font-size: 2.5rem;
  }
  .footer_writing {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 560px) {
  .footer_header {
    font-size: 1.4rem;
  }
  .footer_writing {
    font-size: 0.8rem;
  }
}

.sponsorimg {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.sponsordiv1 {
  max-width: 700px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid #7091d4;
}

.sponsorimg1 {
  max-height: 150px;
}

.sponsorimg2 {
  max-height: 150px;
}

@media only screen and (max-width: 800px) {
  .sponsorimg1 {
    max-height: 60px;
  }
}

.spsimgv {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gearback {
  background-color: white;
}

.spons {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  max-height: 300px;
  margin-top: 7rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .sponsorimg {
    max-width: 600px;
  }

  .spsimgv {
    max-height: 320px;
  }

  .spons {
    max-width: 600px;
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 720px) {
  .sponsorimg {
    max-width: 400px;
  }

  .spsimgv {
    max-height: 200px;
  }

  .spons {
    max-width: 400px;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  .sponsorimg {
    max-width: 280px;
  }

  .spsimgv {
    max-height: 120px;
  }

  .spons {
    max-width: 280px;
  }
}

.mtop {
  margin-top: 12rem;
}

.spclass {
  margin-top: 4rem !important;
}

.spswriting {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8rem;
  font-size: 2.5rem;
  font-family: "Outfit";
}

@media only screen and (max-width: 1200px) {
  .spswriting {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 720px) {
  .spswriting {
    font-size: 1.5rem;
  }
  .mtop {
    margin-top: 3rem;
  }
}

.spshead {
  color: #e9c601;
}

.alcenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer_logos {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-top: 2rem;
}

.footerimg {
  margin-left: auto;
  margin-right: auto;
}

.organizedby {
  font-size: 1rem;
}

.obt_logo {
  margin-top: 10px;
  width: 10rem;
}

#sponsors {
  margin-top: 8rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#media_partners {
  margin-top: 8rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  display: none;
}

#participating {
  margin-top: 8rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sponsorsgrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}

.sponsorsdivv {
  padding: 1rem;
  background-color: #dce6f2;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
}

.sponsoricon {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-top: auto;
}
.sponsoricons {
  height: 2.5rem;
  width: auto;
  margin: auto;
}

.lsponsoricons {
  height: 3.5rem;
}
.vlsponsoricons {
  height: 4.5rem;
}

.sponsorwriting {
  font-size: 1.2rem;
  text-align: center;
  max-width: 12rem;
  margin: auto;
  color: #020c16;
  padding: 0.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .sponsorsgrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 800px) {
  .sponsorsgrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-left: 20%;
    padding-right: 20%;
  }

  .lsponsoricons {
    height: 2.5rem;
  }
  .vlsponsoricons {
    height: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .sponsorsgrid {
    padding-left: 10%;
    padding-right: 10%;
  }
  .sponsorsdivv {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .sponsorwriting {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    max-width: 15rem;
  }

  .sponsoricon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 100%;
    margin-top: auto;
  }
}

@media only screen and (max-width: 450px) {
  .sponsorwriting {
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
  }
  .sponsorsgrid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sponsorsdivv {
    max-width: 360px;
  }
}

@media only screen and (max-width: 350px) {
  .sponsorwriting {
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    font-size: 1rem;
  }
}

.teamwrapper {
  width: 100%;
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
  column-gap: 2em;
  align-items: center;
  justify-content: center;
}

.teammember {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.teamphotowrapper {
  margin: 1rem auto;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}

.teamphoto {
  border-radius: 100%;
  width: 9rem;
  border: solid 4px rgb(228, 228, 231);
}

.team_member_name {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.teamduty {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: monospace;
  text-align: center;
}

.team_contact_div {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team_contact_button {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: white;
  border: 0.1rem solid black;
  cursor: pointer;
}

.contact_icon {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ghicon {
  padding: 0;
}

@media only screen and (max-width: 1100px) {
  .teamwrapper {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6em;
  }
}

@media only screen and (max-width: 600px) {
  .teammember {
    padding: 1rem 0rem;
  }
  .teamphotowrapper {
    width: 9rem;
    height: 9rem;
  }
  .teamwrapper {
    padding: 0.5rem 0rem;
    row-gap: 1rem;
  }
  .teamphoto {
    width: 9rem;
  }
  .team_member_name {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .teamduty {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .teamphotowrapper {
    width: 7rem;
    height: 7rem;
  }
  .teamphoto {
    width: 7rem;
  }
}

.sponsor_bd_logo_wrapper {
  margin-left: auto;
  margin-right: auto;
  left: 46%;
  top: -1.2rem;
  right: auto;
  position: absolute;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.sponsor_bd_logo {
  width: 2rem;
  height: 2rem;
}

.main_sponsor {
  background-color: #ad8df2;
}

.gold_sponsor {
  background-color: #FFD700;
}

.silver_sponsor {
  background-color: #C0C0C0;
  
}

.bronze_sponsor {
  background-color: #967444;
}

.spsexp {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  font-family: "Outfit";
}

.main_sp_writing {
  color: #ad8df2;
}

.gold_sp_writing {
  color: #FFD700;
}

.silver_sp_writing {
  color: #C0C0C0;
}

.bronze_sp_writing {
  color: #967444;
}

@media only screen and (max-width: 720px) {
  .sponsor_bd_logo_wrapper {
    left: 44%;
  }
  .spsexp {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 550px) {
  .sponsor_bd_logo_wrapper {
    left: 41.6%;
  }
}
