html {
  padding: 0;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

body {
  --bg-color: #020c16;
  --light-red: #e20b19;
  --light-blue: #7091d4;
  --white: #ffffff;
  --teams-map-left-side: #011425;
  --teams-map-right-side: #a40d33;
  --dark-blue: rgb(120, 145, 200);
}

code {
  font-family: Outfit, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Outfit:wght@200&display=swap");

.App {
  line-height: 1.5;
  tab-size: 4;
}

#light-blue {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#header {
  display: flex;
  height: 65px;
  margin: 10;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1500px;
}

.header_tab {
  font-size: 1.3rem;
  margin-left: 2rem;
  text-decoration: inherit;
  color: var(--bg-color);
  margin-top: 1.5rem;
}

.sponsorus {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: none;
  color: var(--bg-color);
}

.gradient {
  background: rgb(252, 242, 215);
  background: linear-gradient(
    72deg,
    rgb(40, 131, 228) 2%,
    rgb(235, 17, 61) 73%,
    rgb(238, 203, 108) 100%
  );
  transition-duration: 0.3s;
  transition-property: transform;
  transition: all 0.3s;
  color: var(--white) !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 0 !important;
}

.tabContainerR .header_tab {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  margin-right: 2rem;
  text-decoration: inherit;
  color: var(--bg-color);
}

.tabContainer .header_tab {
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 3rem;
  text-decoration: inherit;
  color: var(--bg-color);
}

.bn29 {
  border: none;
  outline: none;
  color: var(--white);
  text-decoration: inherit;
  font-style: 1.2rem;
  position: relative;
  top: 70px;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.bn29:before,
.bn29:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 155%;
  height: 155%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

.bn29:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

.bn29:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

.bn29:hover:before {
  width: 115%;
  height: 115%;
}

.tabContainer {
  line-height: 1.2;
  display: flex;
  tab-size: 3;
  align-items: center;
  font-family: "Outfit";
  margin: auto;
  width: 500px;
}

.tabContainerR {
  line-height: 1.2;
  display: flex;
  tab-size: 3;
  align-items: center;
  font-family: "Outfit";
  width: 500px;
  justify-content: right;
}

.logo {
  max-height: 5rem;
  margin: auto;
}

@media only screen and (max-width: 1260px) {
}

#namer {
  width: 75%;
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(255, 255, 255);
}

#nameContainer {
  justify-content: center;
  display: flex;
  position: relative;
  font-family: "Outfit";
}

#maintitle {
  background-color: var(--white);
  text-align: bottom;
  padding: 0;
}

#metu {
  color: var(--bg-color);
  font-size: min(24vw, 12rem);
  display: block;
  margin-top: 22vh;
  margin-bottom: 0;
  align-items: bottom;
  padding: 0;
  line-height: min(16vw, 8.5rem);
  font-family: "Montserrat";
}

@media only screen and (max-width: 1260px) {
  .tabContainer {
    display: none;
  }
  .tabContainerR {
    display: none;
  }
  .sponsorus {
    display: block;
  }

  #metu {
    margin-top: 18vh;
  }
}

#bdays {
  color: lightblue;
  font-size: min(9vw, 8rem);
  font-family: "Montserrat";
  line-height: min(16vw, 8.5rem);
}

#blockchain {
  font-size: min(9vw, 8rem);
  position: absolute;
  margin: 0;
  bottom: -2rem;
  line-height: 1;
}

#dateapply {
  background-color: var(--bg-color);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  color: rgb(255 255 255);
}

.date {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .date {
    font-size: 1.6rem;
  }
}

.applyButton {
  width: 24rem;
  background-color: #00adb5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: "Outfit";
  border-width: 0;
  color: rgb(255 255 255);
  cursor: pointer;
  margin: auto;
  height: 109px;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .applyButton {
    width: 14rem;
    font-size: 1.4rem;
    height: 90px;
  }
}

#about {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: var(--bg-color);
  margin-top: 8rem;
}

@media only screen and (max-width: 600px) {
  #about {
    margin-top: 2rem;
    padding-top: 2rem;
  }
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-right: 2rem;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

.subheader {
  font-size: min(8vw, 4rem);
  margin-left: 0.2rem;
  margin-top: 0;
  color: lightblue;
}

.aboutexplanation {
  font-size: 1.125rem;
  tab-size: 4;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  width: 100%;
  font-style: italic;
  line-height: 1.5;
  word-spacing: 0.2em;
  letter-spacing: 0.1rem;
}

#schedule {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  font-family: "Outfit", "sans-serif";
  tab-size: 4;
}

@media only screen and (max-width: 900px) {
  #schedule {
    padding: 1rem;
  }
}

.scheduleSection {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .scheduleSection {
    flex-direction: column;
    padding: 1rem;
  }
}

.scheduleday {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.scheduleHeader {
  font-size: min(8vw, 4rem);
}

.dayHeader {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-color: rgb(255, 255, 255);
  border-bottom-width: 4px;
  margin-bottom: 1.5rem;
  z-index: 5;
  top: 0px;
  position: sticky;
  font-size: 2.25rem;
  font-family: "Outfit", "sans-serif";
  background-color: var(--bg-color);
}

.timer {
  margin-bottom: 2rem;
  font-family: "Outfit", "sans-serif";
  color: rgb(255, 255, 255);
}

.agenda {
  display: flex;
  flex-direction: row;
}

.time {
  width: 7rem;
  font-weight: 600;
  font-size: 1.5rem;
  margin: auto;
}

.relative {
  padding: 1.5rem;
  background-color: #393e46;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.agendaName {
  font-size: 1.5rem;
  font-weight: 600;
  width: 85%;
  margin-bottom: 0.5rem;
}

.agendaExplanation {
  font-size: 1.25rem;
  font-weight: 500;
  width: 85%;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .time {
    width: 6rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
  }

  .agendaName {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
  }

  .agendaExplanation {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }

  .relative {
    padding: 1rem;
  }
}

#speakers {
  margin-top: -2rem;
  padding-left: 1rem;
}

.speakersDiv {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "Outfit", "sans-serif";
}

.speakersContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media only screen and (max-width: 1380px) {
  .speakersContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1180px) {
  .speakersContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 680px) {
  .speakersContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .speakersDiv {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.singleSpeaker {
  padding: 1.5rem;
  background-color: #393e46;
  border-radius: 0.5rem;
  text-decoration: none;
  tab-size: 4;
  margin: 1rem;
  max-width: 280px;
}

@media only screen and (max-width: 1380px) {
  .singleSpeaker {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .singleSpeaker {
    max-width: 220px;
  }
}

.speakerImg {
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.enemyImg {
  border-radius: 100%;
  width: 100%;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.speakerName {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.speakerCompany {
  font-size: 1.25rem;
  color: rgb(204 230 255);
}

#sponsors {
  margin-top: -2rem;
  padding-left: 1rem;
}

.sponsorDiv {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: "Outfit", "sans-serif";
}

.sponsorContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media only screen and (max-width: 1380px) {
  .sponsorContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 1180px) {
  .sponsorContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 680px) {
  .sponsorContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .sponsorDiv {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.singleSponsor {
  padding: 1.5rem;
  background-color: rgba(100, 135, 175, 0.546);
  border-radius: 0.5rem;
  text-decoration: none;
  tab-size: 3;
  margin: 1rem;
  max-width: 280px;
  max-height: 100px;
  position: relative;
}

@media only screen and (max-width: 1380px) {
  .singleSponsor {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .singleSponsor {
    max-width: 220px;
  }
}

.sponsorLogo {
  border-radius: 10rem;
  width: 35%;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.sponsorName {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-left: 7rem;
  margin-top: -5rem;
  position: absolute;
}

.sponsorHeader {
  font-size: min(8vw, 4rem);
}
